div.codehilite pre {
    background-color: #002b36;
}

.about-eric {
	font-size:16px;
	color:rgb(189, 54, 47);
	font-weight:300;
}

.page-background
{
	 background-image: url(../images/polaroid.png)
}
.navbarcolor 
{
	background-color: :#EBECE4;
}


@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.ca-menu{
    padding:0;
    width: 500px;
}
.ca-menu li{
    width: 500px;
    height: 100px;
    overflow: hidden;
    position: relative;
    display: block;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 4px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-menu li:last-child{
    margin-bottom: 0px;
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ca-icon{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 20px;
    text-shadow: 0px 0px 1px #333;
    line-height: 90px;
    position: absolute;
    width: 90px;
    left: 20px;
    text-align: center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-content{
    position: absolute;
    left: 120px;
    width: 370px;
    height: 60px;
    top: 20px;
}
.ca-main{
    font-size: 25px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-sub{
    font-size: 14px;
    color: #666;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-menu li:hover{
    background: #e1f0fa;
}
.ca-menu li:hover .ca-icon{
    font-size: 40px;
    color: #259add;
    opacity: 0.8;
    text-shadow: 0px 0px 13px #fff;
}
.ca-menu li:hover .ca-main{
    opacity: 1;
    color:#2676ac;
    -webkit-animation: moveFromTop 300ms ease-in-out;
    -moz-animation: moveFromTop 300ms ease-in-out;
    -ms-animation: moveFromTop 300ms ease-in-out;
}
.ca-menu li:hover .ca-sub{
    opacity: 1;
    -webkit-animation: moveFromBottom 300ms ease-in-out;
    -moz-animation: moveFromBottom 300ms ease-in-out;
    -ms-animation: moveFromBottom 300ms ease-in-out;
}
@-webkit-keyframes moveFromBottom {
    from {
        opacity: 0;
        -webkit-transform: translateY(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        opacity: 0;
        -moz-transform: translateY(200%);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom {
    from {
        opacity: 0;
        -ms-transform: translateY(200%);
    }
    to {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
}

@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromTop {
    from {
        opacity: 0;
        -moz-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromTop {
    from {
        opacity: 0;
        -ms-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
}

.content{
	position:relative;
}

h2,h3 { 
	margin:0;
	padding:0;
}

/**********************
*** FEEDBACK STYLES ***
**********************/
#feedback {
    position: fixed;
    top: -2px;
    right: 0;
    width:  100%;
    border-bottom: 2px solid #f2184b;
    background:#e6eecc url(../images/paper1.png) repeat top left;
    z-index: 9000;
}
#feedback_button {
    float: right;
    position: fixed;
    right: 0px;
    margin: 2px 2em 1em;

    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-color: #dbf9bd;
    border-top-style: none;
}

#feedback .feedbk-cont {
    clear: both;
    height: auto;
    width: 66%;
    margin: 0 auto;
    padding: 0px 10px;
    display: none;
    border-left: 1px solid #DDD;
    border-bottom-left-radius: 10px;
}
#feedback .feedbk-btn-close {
    display: none;
    float: right;
    width: 50px;
    height: 12px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}



#feedback.uit-open .feedbk-btn-close { display: block; }


#feedbk_clr_btn, #feedbk_send_btn { float: left; }

#feedbk_send_btn {
    margin: 0.5em 2em 0.5em 11em;
    padding-left: 8px;
}

#feedbk_clr_btn {
    margin: 0.5em 2em 0.5em 1em;
    padding-left: 8px;
}



#feedback h2, #feedback h5 { margin-top: 0px; }

.feedbk-cont .feedbk-btn {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 19px;
    float: left;
    margin: 1em;
}
    .feedbk-cont .feedbk-btn.active { clear: both; color: white; }
    .feedbk-cont .feedbk-btn:hover { background-position: left center; }


.feedbk-cont .feedbk-input {
    width: 95%;
    height: 110px;
    resize: none;
    outline: none;
}

.feedbk-cont .feedbk-input.uit-active {
    clear: both;
    display: block;
}

#feedback .nav-pills.nav-stacked {
    width: 150px;
}

#feedback .nav-pills > .active > a,
#feedback .nav-pills > .active.uit-modified > a {
    background-color: #66CC00;
}

#feedback .nav-pills > .uit-modified > a {
    background-color: #AAE074;
}

#feedback .uit-icon { color: #333; }
#feedback .active .uit-icon, 
#feedback .uit-modified .uit-icon ,
#feedbk_send_btn .uit-icon{ color: white; }

#feedback .icon-question-sign, 

#feedback .nav-pills > .active .icon-question-sign, 
#feedback .nav-pills > .uit-modified .icon-question-sign, 

 .box-shad {
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

#feedback_button:before {
     position: relative;
        font-family: FontAwesome;
        font-size: 22px;
        content: "\f0c9";
}
#feedback .feedbk-btn-close:before {
    position: relative;
        font-family: FontAwesome;
        font-size: 30px;
        color: #398eb5;
        content: "\f05c";
}

/***
Social Media Icons
***/
.tt-wrapper{
    padding: 0;
    width: 435px;
    height: 70px;
    margin: 80px auto 30px auto;
}
.tt-wrapper li{
    list-style-type: none;
    float: left;
}
.tt-wrapper li a{
    display: block;
    width: 68px;
    height: 70px;
    margin: 0 2px;
    outline: none;
    background: transparent url(../images/growcase_the_social_gunman_icons.png) no-repeat top left;
    text-indent: -9000px;
    position: relative;
}
.tt-wrapper li .tt-gplus{
    background-position: 0px 0px;
}
.tt-wrapper li .tt-twitter{
    background-position: -68px 0px;
}

.tt-wrapper li .tt-facebook{
    background-position: -204px 0px;
}
.tt-wrapper li .tt-linkedin{
    background-position: -272px 0px;
}

.tt-wrapper li a span{
    width: 130px;
    height: auto;
    line-height: 20px;
    padding: 10px;
    left: 50%;
    margin-left: -64px;
    font-family: 'Alegreya SC', Georgia, serif;
    font-weight: 400;   
    font-style: italic;
    font-size: 14px;
    color: #719DAB;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 4px solid #fff;
    background: rgba(255,255,255,0.3);
    text-indent: 0px;
    border-radius: 5px;
    position: absolute;
    bottom: 70px;
    opacity: 0;
    visibility: visible;
    pointer-events: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    -webkit-transform: translate(35px) rotate(25deg) scale(1.5);
    -moz-transform: translate(35px) rotate(25deg) scale(1.5);
    -o-transform: translate(35px) rotate(25deg) scale(1.5);
    -ms-transform: translate(35px) rotate(25deg) scale(1.5);
    transform: translate(35px) rotate(25deg) scale(1.5);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tt-wrapper li a span:before,
.tt-wrapper li a span:after{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -9px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0,0,0,0.1);
}
.tt-wrapper li a span:after{
    bottom: -14px;
    margin-left: -10px;
    border-top: 10px solid #fff;
}
.tt-wrapper li a:hover span{
    visibility: visible;
    opacity: 0.9;
    -webkit-transform: translate(0px) rotate(0deg) scale(1);
    -moz-transform: translate(0px) rotate(0deg) scale(1);
    -o-transform: translate(0px) rotate(0deg) scale(1);
    -ms-transform: translate(0px) rotate(0deg) scale(1);
    transform: translate(0px) rotate(0deg) scale(1);
}



/***
Hover over
***/

.section{
    width: 900px;
    height: 420px;
    margin: 20px auto;
    position: relative;
}
/* Message to show when border-radius is not supported */
.message{
    display: none;
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 20px;
    font-style: italic;
    padding-bottom: 20px;
}
.no-borderradius .message{
    display: block;
}
/* Box with dashed border to show the bounding box of the circle */
.normal-trigger-area{
    width: 420px;
    height: 420px;
    position: absolute;
    left: 50px;
    top: 5px;
    border: 1px  #916d57;
    background: rgba(179,143,121,0.1);
    -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.5);
    -moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.5);
    box-shadow: 0 0 0 1px rgba(255,255,255,0.5);
}
/* The circle */
.ec-circle{
    width: 420px;
    height: 420px;
    -webkit-border-radius: 210px;
    -moz-border-radius: 210px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    font-family:'Kelly Slab', Georgia, serif;
    background: #dda994 url(../images/eric.jpg) no-repeat center center;
    -webkit-box-shadow: 
        inset 0 0 1px 230px rgba(0,0,0,0.6),
        inset 0 0 0 7px #d5ad94;
    -moz-box-shadow: 
        inset 0 0 1px 230px rgba(0,0,0,0.6),
        inset 0 0 0 7px #d5ad94;
    box-shadow: 
        inset 0 0 1px 230px rgba(0,0,0,0.6),
        inset 0 0 0 7px #d5ad94;
    -webkit-transition: box-shadow 400ms ease-in-out;
    -moz-transition: box-shadow 400ms ease-in-out;
    -o-transition: box-shadow 400ms ease-in-out;
    -ms-transition: box-shadow 400ms ease-in-out;
    transition: box-shadow 400ms ease-in-out;
    /*For IE < 9 so that we have some kind of effect */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    display: block;
    outline: none;
}
.ec-circle-hover{
    -webkit-box-shadow: 
        inset 0 0 0 0 rgba(0,0,0,0.6),
        inset 0 0 0 20px #c18167,
        0 0 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 
        inset 0 0 0 0 rgba(0,0,0,0.6),
        inset 0 0 0 20px #c18167,
        0 0 10px rgba(0,0,0,0.3);
    box-shadow: 
        inset 0 0 0 0 rgba(0,0,0,0.6),
        inset 0 0 0 20px #c18167,
        0 0 10px rgba(0,0,0,0.3);
    /*For IE < 9 so that we have some kind of effect */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/* Text inside of circle */
.ec-circle h3{
    color: transparent;
    font-size: 66px;
    line-height: 420px;
    text-shadow: 0px 0px 100px #fff;
    text-transform: uppercase;
    -webkit-transition: text-shadow 400ms ease-in-out;
    -moz-transition: text-shadow 400ms ease-in-out;
    -o-transition: text-shadow 400ms ease-in-out;
    -ms-transition: text-shadow 400ms ease-in-out;
    transition: text-shadow 400ms ease-in-out;
}
.ec-circle-hover h3{
    text-shadow: 0px 0px 1px #fff;
}
/* Content on the right side */
.content{
    width: 420px;
    float: right;
}
.content a{
    color: #c18167;
    font-weight: bold;
}
.content a:hover{
    color: #000;
}
.content p{
    padding: 10px 0px;
    font-size: 16px;
    line-height: 26px;
    font-family: Georgia, serif;
    font-style: italic;
    color: #333;
    text-shadow: 0px 1px 1px #fff;
}
.content h1{
    font-family:'Kelly Slab', Georgia, serif;
    font-size: 46px;
    padding-bottom: 10px;
    color: #c18167;
    text-shadow: 2px 1px 2px rgba(0,0,0,0.2), 0px 0px 1px #fff;
}
.content h1 span{
    font-size: 22px;
}



/***
Co-op 
***/

.view {
   width: 300px;
   height: 200px;
   margin: 10px;
   float: left;
   border: 10px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
   background: #fff url(../images/bgimg.jpg) no-repeat center center;
}
.view .mask,.view .content {
   width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}

.view-fifth img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth .mask {
   background-color: rgba(146,96,91,0.3);
   -webkit-transform: translateX(-300px);
   -moz-transform: translateX(-300px);
   -o-transform: translateX(-300px);
   -ms-transform: translateX(-300px);
   transform: translateX(-300px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth h2 {
   background: rgba(255, 255, 255, 0.5);
   color: #000;
   -webkit-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
   -moz-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
   box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
}
.view-fifth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   color: #333;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-fifth:hover .mask {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}
.view-fifth:hover img {
   -webkit-transform: translateX(300px);
   -moz-transform: translateX(300px);
   -o-transform: translateX(300px);
   -ms-transform: translateX(300px);
   transform: translateX(300px);
}
.view-fifth:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

// 300 pixels per picture + 3x20 pixels padding
.centerfl {
   width: 960px ;
  margin-left: auto ;
  margin-right: auto ;
  }