<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<head>
    {% block headercontent %}
    {% endblock %}
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   {% load staticfiles %}
   <link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/css/normalize.css' %}">
   <link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/css/main.css' %}">
   <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}">
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'css/main.css' %}">
   <link rel="stylesheet" href="{% static 'css/code   .css' %}">
   <link rel="stylesheet" href="{% static 'css/slush.css' %}">
   <link href='https://fonts.googleapis.com/css?family=Roboto:700,300,500,400' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
</head>

<!--Top right-->  
<div id="feedback" class="hidden-phone">
               <span class="feedbk-btn-close">&nbsp;</span>
               <div class="feedbk-cont">
               <br><br>
                  <h4 class = "about-eric"><p class = "workfont">Please Select a Message Subject:</p></h4>
                  <div class="tabbable">
                     <ul class="nav nav-pills span">
                        <li><a href="#feedbk_questions" data-toggle="tab" class ="about-eric">
                           <span class="uit-icon"></span>Ask me a question!
                           </a>
                        </li>
                        <li><a href="#feedbk_ideas" data-toggle="tab" class ="about-eric">
                           <span class="uit-icon icon-lightbulb"></span>Typo
                           </a>
                        </li>
                        <li><a href="#feedbk_bugs" data-toggle="tab" class ="about-eric">
                           <span class="uit-icon icon-warning-inverted"></span>Professional
                           </a>
                        </li>
                        <li><a href="#feedbk_kudoss" data-toggle="tab" class ="about-eric">
                           <span class="uit-icon icon-heart"></span>Other
                           </a>
                        </li>
                     </ul>
                     <div class="tab-content span">
                        <div class="tab-pane active">
                        </div>
                        <div class="tab-pane" id="feedbk_questions">
                      
                           <textarea class="feedbk-input" placeholder = "Email Body"></textarea>
                        </div>
                        <div class="tab-pane" id="feedbk_ideas">
               
                           <textarea class="feedbk-input" placeholder = "Email Body" ></textarea>
                        </div>
                        <div class="tab-pane" id="feedbk_bugs" >
                        
                           <textarea class="feedbk-input" placeholder = "Email Body"></textarea>
                        </div>
                        <div class="tab-pane" id="feedbk_kudoss">
                     
                           <textarea class="feedbk-input" placeholder = "Email Body"></textarea>
                        </div>
                     </div>
                  </div>
                  <div style="clear:both;"></div>
                  <a class="btn btn-success disabled" id="feedbk_send_btn" href="mailto:ericshi2009@gmail.com?Subject=Contact Eric"><span class="uit-icon icon-envelope"></span>&nbsp;&nbsp;Send Email</a>
                  <a id="feedbk_clr_btn" class="btn btn-danger" href="javascript:void(0)">
                  <i class="fa fa-trash-o fa-lg"></i> Clear All</a>
                  <div style="clear:both;"></div>
               </div>
               <div style="clear:both;"></div>
               <button class="btn btn-lg btn-success" id="feedback_button">
               Send me an Email
               </button>
            </div>

<!-- Add your site or application content here -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
       fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


{% block header %}
<ul id="navigation">
  <li class="home"><a href="/"><span>Home</span></a></li>
  <li class="about"><a href="/about/"><span>About me</span></a></li>
  <li class="resume"><a href="/static/resume.pdf"><span>Resume</span></a></li>
  <li class="blog"><a href="/blog/"><span>My Blog</span></a></li>
  <li class="blog"><a href="/portfolio.html"><span>Portfolio</span></a></li>
  <li class="work"><a href="/projects/"><span>Projects</span></a></li>
  <li class="workterm"><a href="/work/"><span>Work Term</span></a></li>
  <li class="about"><a href="/weef"><span>WEEF</span></a></li>
</ul>

<div class = "container">
   <header>
      <br><br>
      <h1>Eric Shi<span>Mechatronics Engineering</span></h1>
   </header>
</div>

{% endblock %}

    {% block content %}
    {% endblock %}
</div>
</div>
</div>
   <script src="{% static 'javascript/nestedAccordion/modernizr.custom.js'%}"></script>
   <script src="{% static 'javascript/nestedAccordion/jquery.cbpNTAccordion.min.js'%}"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'bower_components/html5-boilerplate/js/vendor/jquery-1.10.2.min.js' %}"><\/script>')</script>
<script src="{% static 'bower_components/html5-boilerplate/js/plugins.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src = "{% static 'javascript/sliding.js' %}"></script>
<script src = "{% static 'javascript/jquery.circlemouse.js' %}"></script>
<script src = "{% static 'javascript/modernizr.custom.72835.js' %}"></script>
<script type="text/javascript" src = "{% static 'bower_components/MathJax/MathJax.js' %}"></script>
<script
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
type="text/javascript">
</script><script>
   $(function() {

       $('#circle').circlemouse({
           onMouseEnter    : function( el ) {

               el.addClass('ec-circle-hover');

           },
           onMouseLeave    : function( el ) {

               el.removeClass('ec-circle-hover');

           },
           onClick         : function( el ) {

               alert('clicked');

           }
       });

   });
</script>
<script>$(function() {
    var d=300;
    $('#navigation a').each(function(){
        $(this).stop().animate({
            'marginTop':'-80px'
        },d+=150);
    });
 
    $('#navigation > li').hover(
    function () {
        $('a',$(this)).stop().animate({
            'marginTop':'-2px'
        },200);
    },
    function () {
        $('a',$(this)).stop().animate({
            'marginTop':'-80px'
        },200);
    }
);
});</script>
</html>