<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Shi Blog{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/code.css' %}">
        <script src="{% static 'bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js' %}"></script>
    </head>
    <body class ="page-background ">
<!--Top right--> 
<div id="feedback" class="hidden-phone">
    <span class="feedbk-btn-close">&nbsp;</span>
    <div class="feedbk-cont">
        <h2>What type of feedback do you have for us?</h2>
        <div class="tabbable">
            <ul class="nav nav-pills nav-stacked span">
                <li><a href="#feedbk_question" data-toggle="tab">
                    <span class="uit-icon icon-question-sign"></span>&nbsp;ask a question
                </a></li>
                <li><a href="#feedbk_idea" data-toggle="tab">
                    <span class="uit-icon icon-lightbulb"></span>&nbsp;share an idea
                </a></li>
                <li><a href="#feedbk_bug" data-toggle="tab">
                    <span class="uit-icon icon-warning-inverted"></span>&nbsp;report a bug
                </a></li>
                <li><a href="#feedbk_kudos" data-toggle="tab">
                    <span class="uit-icon icon-heart"></span>&nbsp;give us kudos
                </a></li>
            </ul>
            <div class="tab-content span6">
                <div class="tab-pane active">
                    <h5>Please provide feedback to help us prioritize future updates to the UI toolkit.</h5>
                    <span>We would love to know things like:</span>
                    <ul>
                        <li>Are you using any similar UI components in your projects at TELUS already?</li>
                        <li>What else would you like to see in future versions?</li>
                        <li>Any specific JS libraries we should be looking to support?</li>
                    </ul>
                </div>
                <div class="tab-pane" id="feedbk_question">
                    <h5>Sure, shoot!</h5>
                    <textarea class="feedbk-input" placeholder="What is your question?"></textarea>
                </div>
                <div class="tab-pane" id="feedbk_idea">
                    <h5>Interesting, let's hear it</h5>
                    <textarea class="feedbk-input" placeholder="We cannot wait to read your idea!"></textarea>
                </div>
                <div class="tab-pane" id="feedbk_bug">
                    <h5>Oops, we are sorry something wasn't working</h5>
                    <textarea class="feedbk-input" placeholder="Please tell us what went wrong."></textarea>
                </div>
                <div class="tab-pane" id="feedbk_kudos">
                    <h5>Aw shucks, you shouldn't have!</h5>
                    <textarea class="feedbk-input" placeholder="What did we do well?"></textarea>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
        <a class="btn btn-default disabled" id="feedbk_send_btn" href="mailto:dlUIToolkit@telus.com?Subject=BT%20UI%20Toolkit%20Feedback"><span class="uit-icon icon-envelope"></span>&nbsp;&nbsp;send feedback</a>
        <a id="feedbk_clr_btn" href="javascript:void(0)">clear all input</a>
        <div style="clear:both;"></div>
    </div>
    <div style="clear:both;"></div>
    <button class="btn green" id="feedback_button">
        <span class="icon-bullhorn"></span>&nbsp;Feedback&nbsp;/&nbsp;Issues
    </button>
</div>



        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>



<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Shi Blog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
         {% load flatpages %}
                            {% get_flatpages as flatpages %}
                            {% for flatpage in flatpages %}
                            <li><a href="{{ flatpage.url }}">{{ flatpage.title }}</a></li>
                            {% endfor %}
        <li><a href="#">Static Place Holder</a></li>
        <li><a href="#">Static Place Holder</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">static place holder</a></li>
            <li><a href="#">static place holder</a></li>
            <li><a href="#">static place holder</a></li>
            <li class="divider"></li>
            <li><a href="#">static place holder</a></li>
            <li class="divider"></li>
            <li><a href="#">static place holder</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
     
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        <div class="container">

            {% block header %}
              
           
            <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                    <div class="page-header">


</div>
 <div class="content">
                <div class="more">
         
        <ul class="ca-menu">
                    <li>
                        <a href="#">
                            <span class="ca-icon">F</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Projects</h2>
                                <h3 class="ca-sub">Courseware, work, and personal</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="ca-icon">U</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Eric Shi</h2>
                                <h3 class="ca-sub">About me</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="ca-icon">a</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Resume</h2>
                                <h3 class="ca-sub">Looking for Winter 2014 Co-op</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="ca-icon">l</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Linkedin Profile</h2>
                                <h3 class="ca-sub">Professional profile</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="ca-icon">@</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Contact Information</h2>
                                <h3 class="ca-sub">Feedback, questions, and opportunities</h3>
                            </div
>                        </a>
                    </li>
                </ul>
            </div><!-- content -->
        </div>

                 
                </div>
                 
                 <div class="col-md-4">  <br><br><br><br><h1>Eric Shi <small>Mechatronics Engineering Student</small></h1> <br><br>   <img class="img-circle"
            src= "{% static 'images/eric.jpg' %}" width=270
            height=270 /> </div>

            </div>
            </div>

                   <h2>Blog</h2>    
     <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Hey!</strong> This website is not finished yet ! Pls no copy pastarino. Kappa
</div>
     
            {% endblock %}

            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>

        <div class="container footer">
            <div class="row">
                <div class="span12">
                    <p>Copyright &copy; {% now "Y" %}</p>
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'bower_components/html5-boilerplate/js/vendor/jquery-1.10.2.min.js' %}"><\/script>')</script>
        <script src="{% static 'bower_components/html5-boilerplate/js/plugins.js' %}"></script>
        <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <script>$(document).ready(function()
{

    //for navbar
    $(".sidebar .active a").append('&nbsp;&nbsp;<span class="uit-icon icon-arrow-down-circled" aria-hidden="true"></span>');    
    //TODO: add a common event-handler
    // Color changer buttons
    $(".colorpurple").unbind("click").bind("click", function(){ changeColor("purple");  return false;   });
    $(".colorgreen").unbind("click").bind("click", function(){  changeColor("green");   return false;   });
    $(".colorgrey").unbind("click").bind("click", function(){   changeColor("grey");    return false;   });
    
    // grey, green, or purple
    function changeColor(color) {
        // set URL depending on environment and param
        var url = (window.ENV == "DEV" ? "css/" : "//cdn.tsl.telus.com/libs/telus-jquery-ui/1.9.2/css/") + color;

        // point to CDN and minified files if in PRODUCTION
        if(window.ENV == "DEV") {
            // overwrite path to the stylesheets according to chosen theme
            $("link[href$='jquery-ui-1.9.2.custom.css']").attr("href", url + "/jquery-ui-1.9.2.custom.css");
            $("link[href$='uit-jqueryui-custom.css']").attr("href", url + "/uit-jqueryui-custom.css");
        } else {
            $("link[href$='jquery-ui.min.css']").attr("href", url + "/jquery-ui.min.css");
            $("link[href$='uit-jqueryui-custom.min.css']").attr("href", url + "/uit-jqueryui-custom.min.css");
        }

        // overwrite path to correctly-themed stylesheets within code sample
        $("pre:first code").html($("pre:first code").html().replace(/green/g, color).replace(/grey/g, color).replace(/purple/g, color));
    }

    /**
    * Event handler for main feedback button. When clicked it toggles the feedback form down/up.
    */
    $("#feedback_button").unbind("click").bind("click", function(e){
        e.preventDefault();
        $('.feedbk-cont').slideToggle("fast");
        $("#feedback").toggleClass("uit-open");
    });

    /**
    * Event handler for feedback closing button. When clicked it closes the feedback form.
    */
    $("#feedback .feedbk-btn-close").unbind("click").bind("click", function(e){

        $('.feedbk-cont').slideToggle("fast");
        $("#feedback").toggleClass("uit-open");

        // TODO: assess whether need same behaviour as clicking feedback btn again
        //$("#feedbk_clr_btn").click();
    });

    /**
    * Event handler for button that triggers sending feedback to user's email client. 
    * When clicked it collates feedback entered into the form and passes it using href contents and mailto attribute.
    */
    $("#feedbk_send_btn").unbind("click").bind("click", function(e){
        var _this = this;

        //ignore if disabled
        if($(_this).hasClass("disabled")) {
            return false;
        }

        //TODO: use uit-modified class!
        var question_text = $("#feedbk_question textarea.feedbk-input").val();
        if(question_text.length) {
            question_text = '%23 Question %0D' + encodeURIComponent(question_text) + '%0D%0A%0A';
        }

        var idea_text = $("#feedbk_idea textarea.feedbk-input").val();
        if(idea_text.length) {
            idea_text = '%23 Idea %0D' + encodeURIComponent(idea_text) + '%0D%0A%0A';
        }

        var bug_text = $("#feedbk_bug textarea.feedbk-input").val();
        if(bug_text.length) {
            bug_text = '%23 Bug %0D' + encodeURIComponent(bug_text)  + '%0D%0A%0A';
        }

        var kudos_text = $("#feedbk_kudos textarea.feedbk-input").val();
        if(kudos_text.length) {
            kudos_text = '%23 Kudos %0D' + encodeURIComponent(kudos_text)  + '%0D%0A%0A';
        }

        var body = '&body=' + question_text + idea_text + bug_text + kudos_text;

        var href = $(_this).attr('href');
        href += body;
        $(_this).attr('href', href);

        //TODO: check if needing event bubbling or pause/go mechanism
    });

    /**
    * Event handler for button that clears all entered feedback and resets feedback content to feedback splash.
    */
    $("#feedbk_clr_btn").unbind("click").bind("click", function(e){
        // clear all inputs
        $("#feedback textarea.feedbk-input").val("");
        // reset modified class
        $("#feedback .nav-pills li.uit-modified").removeClass("uit-modified");
        
        // deselect any tab
        $("#feedback .tab-content > .tab-pane.active, #feedback .nav-pills li.active").removeClass("active");

        // show intro info
        $("#feedback .tab-content > .tab-pane:first-child").addClass("active");

        //disable send button
        $("#feedbk_send_btn").addClass("disabled");
    });

    /**
    * Event handler for textareas which adds classes to indicate modified feedback portions.
    */
    $("#feedback textarea.feedbk-input").off("keyup").on("keyup", function(e) {
        var $input = $(e.target);
        var $tab = $("#feedback .nav-pills li.active");
        var $send_btn = $("#feedbk_send_btn");
        
        // if editing first time 
        if( $input.val().length > 0 && !( $input.hasClass("uit-modified") ) ) {
            // add class
            $input.addClass("uit-modified");
            // add edited icon
            $tab.addClass("uit-modified");
            // enable send button
            $send_btn.removeClass("disabled");
        }

        //TODO: review if needed
        // if first time editing
        if( $input.val().length > 0 && $input.hasClass("uit-modified") ) {
            //add edited icon
            $tab.addClass("uit-modified");
            // enable send button
            $send_btn.removeClass("disabled");
        }

        //if was modified and now empty
        if( $input.val().length == 0 && $input.hasClass("uit-modified") ) {
            //remove class
            $input.add($tab).removeClass("uit-modified");
            // if all other feedback sections are empty
            if($("#feedback .nav-pills li.uit-modified").length == 0 )
            {
                // disable send button
                $send_btn.addClass("disabled");
            }
        }
    });

    /**
    * Generic keypress event handler.
    * Currently handles:
    *   - Escape key ("27") closes feedback form
    *
    // TODO: assess whether should support keypresses
    $(document).unbind("keyup").bind("keyup", function(e) {
        if (e.keyCode == 27) { // esc
            // test if feedback is visible
            if( $('#feedback').hasClass("uit-open") ) {
                // hide feedback component
                $("#feedback .feedbk-btn-close").click();
            } 
        }
        // add more keypresses as wanted
    });
    */

});</script>

    </body>

</html>