{% extends "blogengine/includes/base.html" %}
   {% load custom_markdown %}

 {% block content %}
 <hr>
	<div class = "centerabout">
		<p class = "about-eric">I'm an Engineering student at the University of Waterloo. 
		I'm interested in robotics and software engineering. I'm a technology enthusiast 
		who enjoys taking on new challenges and driving innovation. My experience ranges 
		from machining, hardware/circuitry, and software design. I have experience in hosting public 
		event and public speaking through several community initiatives. I believe in spirited teamwork 
		and success through collaboration.  I’ve interned at TELUS’s Voice Activation team and Canadian 
		Tire’s International Transportation Development department. I’m very passionate about jazz, Olympic
		 weightlifting, and competitive esports. 
		</p>
	</div>
	<hr>
  {% endblock %}