{% extends "blogengine/includes/base.html" %}
{% load custom_markdown %}
{% block content %}

<section class = "color-5">
   <br>
</section>
<section class="color-8">
   <div class = "centerabout">
      <br>
      <h2 class = "about-ericlarge">About me:</h2>
      <p class = "about-eric">I'm an Engineering student at the University of Waterloo. 
         I'm interested in robotics and software engineering. I'm a technology enthusiast 
         who enjoys taking on new challenges and driving innovation. My experience ranges 
         from machining, hardware/circuitry, and software design. I have experience in hosting public 
         event and public speaking through several community initiatives. I believe in spirited teamwork 
         and success through collaboration.  I’ve interned at TELUS’s Voice Activation team and Canadian 
         Tire’s International Transportation Development department. I’m very passionate about jazz, Olympic
         weightlifting, and competitive esports. 
      </p>
   </div>
   <div class = "bottomline">
      <section class = "color-7">
         <br>
      </section>
   </div>
   <div class = "aboutbody">
      <div class = "aboutcolfirst">
         <h4>Professional Experience</h4>
         <p style="font-weight: 900">Java</p>
         <p class = "tab">&bull;  Back-end development experience using REST, multithreading, DaaS (Database as a service), JMS, Service-oriented architecture, custom framework design</p>
         <p class = "tab">&bull; Front-end experience using JSP. Designed a custom user interface for a brand acquisition automation application</p>
         <p class = "tab">&bull; Frameworks: Spring Framework, JSP and JSF Frameworks. </p>
         <p class = "tab">&bull; Tools: Eclipse, Tomcat Server, Apache Maven. WebLogic, Spring Tool Suite</p>
         <p style="font-weight: 900">C#</p>
         <p class = "tab">&bull; Back-end experience in C# through internship at Canadian Tire Transportation Development.</p>
         <p class = "tab">&bull; Frameworks: .NET 2.0/4.0, MVC (Model View Controller) </p>
         <p class = "tab">&bull; Tools: Visual Studio, NUnit, VBE, </p>
         <p class = "tab">&bull; Worked with ASP.NET, Visual Basic, Web Services, SQL databases, HTML, JavaScript, Ajax.
         <p style="font-weight: 900">Agile and Other Methodologies</p>
         <p class = "tab">&bull;Jira, Kanban boards, Scrum, Lean software development, Continuous Integration, Test-driven development, Story-driven modelling.</p>
      </div>
      <div class = "aboutcol">
         <h4>Technical Skills</h4>
         <p style="font-weight: 900">Operating Systems</p>
         <p class = "tab">&bull; Proficient in Windows, UNIX, and Linux (Red Hat, Ubuntu, Mint) environments. Familiar with Vim, Emacs, Bash, and Shell scripting. Introductory knowledge of iOS and OS X.</p>
         <p style="font-weight: 900">C / C++</p>
         <p class = "tab">&bull; Experience gained through Course-ware, personal projects, robotics.</p>
         <p class = "tab">&bull; Knowledge of data structures and algorithms, multi threading, C++ in a Linux environment, socket programming.</p>
         <p style="font-weight: 900">Python</p>
         <p class = "tab">&bull; Wrote my personal professional website using Python and Django as the back-end. Experience from course-ware.</p>
         <p class = "tab">&bull; Implemented several algorithms in Python for self study.</p>
         <p style="font-weight: 900">Scala</p>
         <p class = "tab">&bull; Scala course on Coursera from École Polytechnique Fédérale de Lausanne </p>
         <p style="font-weight: 900">Source Control</p>
         <p class = "tab">&bull; Git, TFS, Subversion, Clear-case</p>
         <p style="font-weight: 900">Server</p>
         <p class = "tab">&bull;Apache HTTP web server, Tomcat, WebLogic</p>
      </div>
      <div class = "aboutcol">
         <h4>Hardware and Robotics</h4>
         <p class = "tab"> Hands on experience soldering, reading schematics, and circuit design through course-ware, competitions, and personal projects/p>
         <p style="font-weight: 900">Assembly</p>
         <p class = "tab">&bull; Assembly experience with Intel 8085 Microprocessor through course-ware and labs.</p>
         <p style="font-weight: 900">FPGA and VHDL</p>
         <p class = "tab">&bull; Introductory knowledge to FPGA design and implementation using VHDL</p>
         <p style="font-weight: 900">Micro-controllers and Robotics</p>
         <p class = "tab">&bull; Autonomous Digital Micrometre team project, using Arduino, Photoelectric sensor, 7-Segment LED Display. <a href = "https://www.youtube.com/watch?v=q3af61lxj-I">Video</a>	
         <p class = "tab">&bull; Used Ateml's ATMega168 AVR for UWRobotics competition <a href = "https://www.youtube.com/watch?v=PTXJF5mCKV8</p>">Video</a>
         <p class = "tab">&bull; Lego Mind-storms Maze Solving Robot solves any arbitrary square maze, recognizes when solution is found and retraces the shortest path to origin </p>
         <p class = "tab">&bull; Personal projects with Microchip's micro-controller developer toolkit </p>
         <p style="font-weight: 900">PLC</p>
         <p class = "tab">&bull; Familiar with PLC design through course-ware and labs. Programmed a PLC system to control a pneumatic arm <a href = "https://www.youtube.com/watch?v=D7yXhvT75dc&list=UU0YyRvCSGqGzUxoCfsDdNEQ">Video</a></p>
      </div>
   </div>
</section>
<section class = "color-1">
   <div class = "filler">
      <ul class="tt-wrapperabout">
         <br><br><br>
         <br><br><br>
         <li><a class="tt-gplus" href="#"><span>Google Plus</span></a></li>
         <li><a class="tt-twitter" href="#"><span>Twitter</span></a></li>
         <li><a class="tt-facebook" href="#"><span>Facebook</span></a></li>
         <li><a class="tt-linkedin" href="#"><span>LinkedIn</span></a></li>
      </ul>
   </div>
</section>
<hr>
{% endblock %}