<!DOCTYPE html>
{% load blog %}
<!--[if lt IE 7]>      
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
   <![endif]-->
   <!--[if IE 7]>         
   <html class="no-js lt-ie9 lt-ie8">
      <![endif]-->
      <!--[if IE 8]>         
      <html class="no-js lt-ie9">
         <![endif]-->
         <!--[if gt IE 8]><!--> 
         <html class="no-js">
            <!--<![endif]-->
            <head>
               <meta charset="utf-8">
               <meta http-equiv="X-UA-Compatible" content="IE=edge">l

               <title>Eric Shi - Mechatronics Engineering - University of Waterloo - Robotics - Educational Robotics Guides</title>
               <meta name="description" content="Personal professional website developed by Eric Shi. Blog content is aimed at providing detailed robotics tutorials, do-it-yourself tutorials, and various programming tutorials. Passionate about teaching, the vision of the site is to create meaningful educational tutorials. Educational Robotics Tutorials cover mechanical, electrical, and software design aspects.">
               <meta name="keywords" content="robotics,hearthstone,esports,hexapod,bioloid, humanoid, DIY,robotics guides" />
               <meta name="viewport" content="width=device-width, initial-scale=1">
               <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
               {% load staticfiles %}
               <link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/css/normalize.css' %}">
               <link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/css/main.css' %}">
               <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
               <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}">
               <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
               <link rel="stylesheet" href="{% static 'css/main.css' %}">
               <link rel="stylesheet" href="{% static 'css/code.css' %}">
               <link rel="stylesheet" href="{% static 'css/slush.css' %}">
               <script src = "{% static 'bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js' %}"></script>
            </head>
            <!-- Remember to change font title -->
            <!--Top right-->
            <div id="feedback" class="hidden-phone">
               <span class="feedbk-btn-close">&nbsp;</span>
               <div class="feedbk-cont">
               <br><br>
                  <h4 class = "about-eric"><p class = "workfont">Please Select a Message Subject:</p></h4>
                  <div class="tabbable">
                     <ul class="nav nav-pills span">
                        <li><a href="#feedbk_questions" data-toggle="tab" class ="about-eric">
                           <span class="uit-icon"></span>Ask me a question!
                           </a>
                        </li>
                        <li><a href="#feedbk_ideas" data-toggle="tab" class ="about-eric">
                           <span class="uit-icon icon-lightbulb"></span>Typo
                           </a>
                        </li>
                        <li><a href="#feedbk_bugs" data-toggle="tab" class ="about-eric">
                           <span class="uit-icon icon-warning-inverted"></span>Professional
                           </a>
                        </li>
                        <li><a href="#feedbk_kudoss" data-toggle="tab" class ="about-eric">
                           <span class="uit-icon icon-heart"></span>Other
                           </a>
                        </li>
                     </ul>
                     <div class="tab-content span">
                        <div class="tab-pane active">
                        </div>
                        <div class="tab-pane" id="feedbk_questions">
                      
                           <textarea class="feedbk-input" placeholder = "Email Body"></textarea>
                        </div>
                        <div class="tab-pane" id="feedbk_ideas">
               
                           <textarea class="feedbk-input" placeholder = "Email Body" ></textarea>
                        </div>
                        <div class="tab-pane" id="feedbk_bugs" >
                        
                           <textarea class="feedbk-input" placeholder = "Email Body"></textarea>
                        </div>
                        <div class="tab-pane" id="feedbk_kudoss">
                     
                           <textarea class="feedbk-input" placeholder = "Email Body"></textarea>
                        </div>
                     </div>
                  </div>
                  <div style="clear:both;"></div>
                  <a class="btn btn-success disabled" id="feedbk_send_btn" href="mailto:ericshi2009@gmail.com?Subject=Contact Eric"><span class="uit-icon icon-envelope"></span>&nbsp;&nbsp;Send Email</a>
                  <a id="feedbk_clr_btn" class="btn btn-danger" href="javascript:void(0)">
                  <i class="fa fa-trash-o fa-lg"></i> Clear All</a>
                  <div style="clear:both;"></div>
               </div>
               <div style="clear:both;"></div>
               <button class="btn btn-lg btn-success" id="feedback_button">
               Send me an Email
               </button>
            </div>
            <!-- Add your site or application content here -->
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
               var js, fjs = d.getElementsByTagName(s)[0];
               if (d.getElementById(id)) return;
                   js = d.createElement(s); js.id = id;
                   js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
                   fjs.parentNode.insertBefore(js, fjs);
               }(document, 'script', 'facebook-jssdk'));
            </script>

{% block header %}
 <ul id="navigation">
  <li class="home"><a href="/"><span>Home</span></a></li>
  <li class="about"><a href="/about/"><span>About me</span></a></li>
  <li class="resume"><a href="/static/resume.pdf"><span>Resume</span></a></li>
  <li class="blog"><a href="/blog/"><span>My Blog</span></a></li>
  <li class="blog"><a href="/portfolio.html"><span>Portfolio</span></a></li>
  <li class="work"><a href="/projects/"><span>Projects</span></a></li>
  <li class="workterm"><a href="/work/"><span>Work Term</span></a></li>
  <li class="about"><a href="/weef"><span>WEEF</span></a></li>
</ul>
<div class = "container">
   <header>
      <br><br>
      <h1>Eric Shi<span>Mechatronics Engineering</span></h1>
      <p>Third Year Student at the University of Waterloo</p>
   </header>
</div>
<!-- Colours that are good10,8,7 ,5,1-->
<div class="col-group">
   <div style = "background: #3366cc ">
      <br>
      <ul class="ca-menu">
         <li>
            <a href="/about/">
               <span class="ca-icon">U</span>
               <div class="ca-content">
                  <h2 class="ca-main">About Me</h2>
               </div>
            </a>
         </li>
         <li>
            <a href="/blog/">
               <span class="ca-icon">Q</span>
               <div class="ca-content">
                  <h2 class="ca-main">Blog</h2>
               </div>
            </a>
         </li>
         <li>
            <a href="/projects/">
               <span class="ca-icon">F</span>
               <div class="ca-content">
                  <h2 class="ca-main">Projects</h2>
               </div>
            </a>
         </li>
         <li>
            <a href="#">
               <span class="ca-icon">a</span>
               <div class="ca-content">
                  <h2 class="ca-main">Resume</h2>
                  <h3 class="ca-sub"></h3>
               </div>
            </a>
         </li>
         <li>
            <a href="/portfolio.html">
               <span class="ca-icon">q</span>
               <div class="ca-content">
                  <h2 class="ca-main">Portfolio</h2>
               </div>
            </a>
         </li>
      </ul>
   </div>
   <div style = "background: #3366cc }">
      <br>
      <img src="{% static 'images/Eric_PHex.jpg' %}" alt="Eric Shi" style="border: 10px solid #fff; display: block;
         margin-left: auto;
         margin-right: auto; max-width:100%;max-height:85%;">
      <ul class="tt-wrapper">
         <li>
            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
         </li>
         <li><a class="tt-gplus" href="https://plus.google.com/100066589846054409710/about"><span>Google Plus</span></a></li>
         <li><a class="tt-twitter" href="https://twitter.com/EricPandShi"><span>Twitter</span></a></li>
         <li><a class="tt-facebook" href="#"><span>Facebook</span></a></li>
         <li><a class="tt-linkedin" href="http://www.linkedin.com/profile/view?id=245214768&trk=nav_responsive_tab_profile"><span>LinkedIn</span></a></li>
      </ul>
   </div>
   <div style = "background: #cd4436 ">
      <br>
      <p class = "h1arial">Welcome to my website. I'm a third year engineering student at the University of Waterloo in Canada. I am studying Mechatonics (electro-mechanical) engineerng. I love programming and robotics. I have a blog where I have been writing product reviews and creating tutorials. My vision for my blog is to have it become an educational resource for students of all ages to learn and get ideas from my past projects. 
      <p>
      <p class = "h1arial"> I'm interested in robotics, telecommunications, and IoT. My current on-going projects include hexapods, quadcopters, and robotic arms. </p>
      <p class = "h1arial"> If you're interested in checking out my projects please visit my blog! I have provided detailed tutorials for how you can do a similar project yourself. </p>
      <div class = "col-group">
       
            <img src="{% static 'images/phoex.jpg' %}" alt="Eric Shi" style="border: 5px solid #fff;max-width:300px;height:200px ;">
            <ul class="tt-wrapper">
        
         
      </div>
      <ul class="tt-wrapper">
   </div>
</div>
<section class="color-8">
 <div class = "container">
   <header>
      <br><br>
      <h1>Project Showcase</h1>
   </header>
</div>
   <div class = "col-groupz">
      
      <div>
         <div class="view view-fifth">
            <img src="{% static 'images/hexacopter.jpg' %}" style= "width: 100%;max-height: 100%" />
            <div class="mask">
               <h2>Hexacopter</h2>
               <p> Aerial robot with a hoverfly flight controller and hoverfly GPS.</p>
               <a href="/portfolio.html" class="info">View in Portfolio</a>
            </div>
         </div>
      </div>
         <div>
                  <div class="view view-fifth">

            <img src="{% static 'images/robotarm.jpg' %}" style= "width: 100%;max-height: 175px" />
            <div class="mask">
               <h2>Robot Arm</h2>
               <p>Internet controlled robot arm.</p>
               <a href="/portfolio.html" class="info">View in Portfolio</a>
            </div>
            </div>
         </div>
         <div>
                  <div class="view view-fifth">

            <img src="{% static 'images/DigitalMicrometer.jpg' %}" style= "width: 100%;max-height: 100%" />
            <div class="mask">
               <h2>Autonomous Digital Micrometer</h2>
               <p>Measuring device accurate to a micrometer. 7-segment display for output. </p>
               <a href="/portfolio.html" class="info">View in Portfolio</a>
            </div>


            </div>

         </div>
          <div>
         <div class="view view-fifth">
            <img src="{% static 'images/apodhex.jpg' %}" style= "width: 100%;max-height: 100%" />
            <div class="mask">
               <h2>Hexapod</h2>
               <p>Multi-leg robot with a claw and tail. Each leg has three degrees of freedom.</p>
               <a href="/portfolio.html" class="info">View in Portfolio</a>
            </div>
         </div>
      </div>
   </div>
   <div class = "col-groupz">
      
      <div>
         <div class="view view-fifth">
            <img src="{% static 'images/sr.jpg' %}" style= "width: 100%;max-height: 175px" />
            <div class="mask">
               <h2>Sumo Robot</h2>
               <p>Autonomous robot that finds and pushes other robots off an arena.</p>
               <a href="/portfolio.html" class="info">View in Portfolio</a>
            </div>
         </div>
      </div>
         <div>
                  <div class="view view-fifth">

            <img src="{% static 'images/parallax.png' %}" style= "width: 100%;max-height: 175px" />
            <div class="mask">
               <h2>Parallax Elev Quadcopter</h2>
               <p>Still in testing phase, team project with Wesley Fisher.</p>
               <a href="/portfolio.html" class="info">View in Portfolio</a>
            </div>
            </div>
         </div>
         <div>
                  <div class="view view-fifth">

            <img src="{% static 'images/ece.jpg' %}" style= "width: 100%;max-height: 175px" />
            <div class="mask">
               <h2>Autonomous Line Following Robot</h2>
               <p>Has a 4x optical encoder, temperature sensor, and magnetic sensor. </p>
               <a href="/portfolio.html" class="info">View in Portfolio</a>
            </div>


            </div>

         </div>
          <div>
         <div class="view view-fifth">
            <img src="{% static 'images/dji.jpg' %}" style= "width: 100%;max-height: 100%" />
            <div class="mask">
               <h2>DJI Hexacopter</h2>
               <p>Features alitude hold, return to home, and telemetry.</p>
               <a href="/portfolio.html" class="info">View in Portfolio</a>
            </div>
         </div>
      </div>
   
   </div>
   </div>
   <br><br><br>

</section>

            <section class="color-3">
               <div class = "container">
                  <header>
                     <br><br>
                     <h1 class ="latestblogpost">Latest Blog Posts</h1>
                  </header>
                  </div>
                 <div class = "col-groupbp">
                  <ul class="ca-menus">
                     {% get_recent_posts 5 as recent_posts %}
                     {% for p in recent_posts %}
                     <div>
                     <li>
                        <!--p = triple dot navigation-->
                        <a href="{{ p.get_absolute_url }}">
                           <span class="ca-icons">i</span>
                           <div class="ca-contents">
                              <h2 class="ca-mains">{{ p.title }}</h2>
                              <h3 class="ca-subs">{{p.pub_date}}</h3>
                           </div>
                        </a>
                     </li>
                     </div>
                     {%endfor %}
                  </ul>
               </div>
               <br>
               <br><br>
                

            </section>
                  <section class="color-3">
              
     </section>
            {% endblock %}
            <div class="row">
               {% block content %}{% endblock %}
            </div>
            </div>
            <section class="color-1">
               <div class="container footer">
                  <div class="row">
                     <div class="span12">
                        <div id="textbox">
                           <p class = "alignleft">Website built by Eric Shi Powered by Django 2015 </p>
                           <p class = "alignright">Icons by DryIcons 2015</p>
                        </div>
                        <div style="clear: both;"></div>
                     </div>
                  </div>
               </div>
            </section>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{% static 'bower_components/html5-boilerplate/js/vendor/jquery-1.10.2.min.js' %}"><\/script>')</script>
            <script src="{% static 'bower_components/html5-boilerplate/js/plugins.js' %}"></script>
            <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
            <script src = "{% static 'javascript/sliding.js' %}"></script>
            <script src = "{% static 'javascript/jquery.circlemouse.js' %}"></script>
            <script src = "{% static 'javascript/modernizr.custom.72835.js' %}"></script>
            <script src = "{% static 'javascript/jquery.path.js' %}"></script>
            <script
               src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
               type="text/javascript"></script>
            <script>
               $(function() {
               
                   $('#circle').circlemouse({
                       onMouseEnter    : function( el ) {
               
                           el.addClass('ec-circle-hover');
               
                       },
                       onMouseLeave    : function( el ) {
               
                           el.removeClass('ec-circle-hover');
               
                       },
                       onClick         : function( el ) {
               
                           alert('clicked');
               
                       }
                   });
               
               });
            </script>
            <script>$(function() {
               var d=300;
               $('#navigation a').each(function(){
                   $(this).stop().animate({
                       'marginTop':'-80px'
                   },d+=150);
               });
               
               $('#navigation > li').hover(
               function () {
                   $('a',$(this)).stop().animate({
                       'marginTop':'-2px'
                   },200);
               },
               function () {
                   $('a',$(this)).stop().animate({
                       'marginTop':'-80px'
                   },200);
               }
               );
               });
            </script>
             <script type="text/javascript">
            $(function() {
                
                /* when page loads animate the about section by default */
                //move($('#about'),2000,2);

                $('#menu > a').mouseover(
                function(){
                    var $this = $(this);
                    move($this,800,1);
                }
            );

                /*
                function to animate / show one circle.
                speed is the time it takes to show the circle
                turns is the turns the circle gives around the big circle
                 */
                function move($elem,speed,turns){
                    var id = $elem.attr('id');
                    var $circle = $('#circle_'+id);

                    /* if hover the same one nothing happens */
                    if($circle.css('opacity')==1)
                        return;

                    /* change the image */
                    $('#image_'+id).stop(true,true).fadeIn(650).siblings().not(this).fadeOut(650);

                    /*
                    if there's a circle already, then let's remove it:
                    either animate it in a circular movement or just fading out, depending on the current position of it
                     */
                    $('#content .circle').each(function(i){
                        var $theCircle = $(this);
                        if($theCircle.css('opacity')==1)
                            $theCircle.stop()
                        .animate({
                            path : new $.path.arc({
                                center : [409,359],
                                radius : 257,
                                start  : 65,
                                end     : -110,
                                dir : -1
                            }),
                            opacity: '0'
                        },1500);
                        else
                            $theCircle.stop()
                        .animate({opacity: '0'},200);
                    });

                    /* make the circle appear in a circular movement */
                    var end = 65 - 360 * (turns-1);
                    $circle.stop()
                    .animate({
                        path : new $.path.arc({
                            center  : [409,359],
                            radius  : 257,
                            start   : 180,
                            end     : end,
                            dir     : -1
                        }),
                        opacity: '1'
                    },speed);
                }
            });
        </script>
         </html>
