{% extends "blogengine/includes/base.html" %}
{% load custom_markdown %}

{% block headercontent %}
   <meta charset="utf-8">
   <title>Eric Shi - Mechatronics Engineer.ing - University of Waterloo - Projects</title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="author" content="Eric Shi">
   <meta name="description" content="Eric Shi Mechatronics Engineering University of Waterloo projects page. Robotics, Automation, Computers, Programming, and other projects.">
   <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}
<section class = "color-5"><br></section>
<section class="color-8">
     <div class = "container">
   <header>
      <br><br>  
      <h1>Projects<span>Migration in Progress</span></h1>
      <p class = "about-eric"> I'm currently in process of moving to my new portfolio page.</p>
   </header>
</div>
<div class = "container">
</div>
</section>
<section class = "color-1">
   <div class = "filler">
      <ul class="tt-wrapperabout">
         <br><br><br>
         <br><br><br>
         <li><a class="tt-gplus" href="#"><span>Google Plus</span></a></li>
         <li><a class="tt-twitter" href="#"><span>Twitter</span></a></li>
         <li><a class="tt-facebook" href="#"><span>Facebook</span></a></li>
         <li><a class="tt-linkedin" href="#"><span>LinkedIn</span></a></li>
      </ul>
   </div>
</section>
<hr>
{% endblock %}