{% extends "blogengine/includes/base.html" %}
{% load custom_markdown %}
{% block headercontent %}
   <meta charset="utf-8">
   <title>Eric Shi - Mechatronics Engineer.ing - University of Waterloo - Work</title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="author" content="Eric Shi">
   <meta name="description" content="Eric Shi Mechatronics Engineering University of Waterloo work experience summary. Currently still looking for placements for last two co-op placements.">
   <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

 {% block content %}
	 <hr>
	      
	<div class = "centerabout">
				<h1 class = "worktitle">Currently Looking For:</h1>
				<hr>
		<h4>A co-op placement for the Winter 2015 January - May 2015 Work Term. </h4>
				<br>
		<p class = "about-eric">I have 3 remaining work terms as a part of my engineerng co-op degree. My upcoming work terms are January - May 2015, September - December 2015, and May - August 2016. I am currenty looking for a placement for the January - May 2015 Winter work term. 
		</p>
		<h1 class = "worktitle">Previous Work Terms</h1>
		<hr>
		<h3  class = "workfont">Technology Architect Co-op TELUS Voice Activations Spring 2014</h3>	
		<h4>Achievements:</h4>
		<p>&bull; Implemented solution for two year long CDMA migration issue impacting 4,000 customers saving tens of thousands of dollars.  </p>
		<p>&bull; Designed a concurrent request enhancement framework to enable network provisioning of cloud storage and security bundles.</p>
		<p>&bull; Independently designed a Java Spring web application to automate brand acquisition configuration   </p>
		<p>&bull; Management and execution of product testing for cloud and security spanning order management and price plan teams</p>
		<h3 class = "workfont">Technology Architect Co-op TELUS Voice Activations Fall 2013</h3>	
		<h4>Achievements:</h4>
		<p>&bull; Migrated a desktop Delphi pascal application for order simulation into a web application and provided training to team members</p>
		<p>&bull; Developed RESTful client using Jersey to interface with Ericsson, Revised interface agreement after solution design. </p>
		<h3 class = "workfont">Programmer Analyst Canadian Tire Transportation Development Co-op Winter 2013 </h3>	
		<p>&bull; Developed a carrier performance application using C# .NET 4.0 that tracks incidents and accidents. </p>
		<p>&bull; Designed relationship database model using SQL and wrote data migration scripts to utilize existing datasets into carrier performance rating </p>

	</div>

	<hr>

	       <section class="color-5">
	       <br>	       
	       <br>
	       <br>
	       <br>
	       <br>
	       <br>
	       <br>
	       <br>
	       <br>
	       <br>
	       <br>
	       <br>
	       <br>
	       <br>
	       <br>
	       <br>
	       <br>

	</section>

	
  {% endblock %}